In [1]:
import pandas as pd

In [2]:
s1 = pd.Series([10,20,30,40,50])
print(s1)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
print(s1.index)

RangeIndex(start=0, stop=5, step=1)

In [4]:
print(s1.values)

[10 20 30 40 50]

In [5]:
print(type(s1.values))

<class 'numpy.ndarray'>

In [6]:
s2=pd.Series(['a','b','c',1,2,3])
print(s2)

0    a
1    b
2    c
3    1
4    2
5    3
dtype: object

In [7]:
import numpy as np
s3=pd.Series([np.nan,1,2,3])
print(s3)

0    NaN
1    1.0
2    2.0
3    3.0
dtype: float64

In [8]:
index_date = ['2020-03-20', '2020-03-21', '2020-03-22', '2020-03-23']
s4 = pd.Series([200, 187, np.nan, 210], index=index_date)
print(s4)

2020-03-20    200.0
2020-03-21    187.0
2020-03-22      NaN
2020-03-23    210.0
dtype: float64

In [9]:
s5 = pd.Series({'국어':100, '영어':95, '수학':100})
print(s5)

국어    100
영어     95
수학    100
dtype: int64

In [10]:
p = pd.date_range(start='2020-01-20', end='2020-01-27')
print(p)

DatetimeIndex(['2020-01-20', '2020-01-21', '2020-01-22', '2020-01-23',
               '2020-01-24', '2020-01-25', '2020-01-26', '2020-01-27'],
              dtype='datetime64[ns]', freq='D')

In [11]:
p = pd.date_range(start='2020/01/20', end='2020.01.27')
print(p)

DatetimeIndex(['2020-01-20', '2020-01-21', '2020-01-22', '2020-01-23',
               '2020-01-24', '2020-01-25', '2020-01-26', '2020-01-27'],
              dtype='datetime64[ns]', freq='D')

In [12]:
p = pd.date_range(start='2020-05-01', periods=7)
print(p)

DatetimeIndex(['2020-05-01', '2020-05-02', '2020-05-03', '2020-05-04',
               '2020-05-05', '2020-05-06', '2020-05-07'],
              dtype='datetime64[ns]', freq='D')

In [13]:
p = pd.date_range(start='2020-01-01', periods=4, freq='2D')
print(p)

DatetimeIndex(['2020-01-01', '2020-01-03', '2020-01-05', '2020-01-07'], dtype='datetime64[ns]', freq='2D')

In [14]:
p = pd.date_range(start='2022-01-01', periods=5, freq='W')
print(p)

SyntaxError: invalid syntax (2093040110.py, line 2)

In [ ]:
p = pd.date_range(start='2022-01-01', periods=5, freq='W-MON')
print(p)

In [ ]:
p = pd.date_range(start='2023-02-01', periods=5, freq='2M')
print(p)

In [ ]:
p = pd.date_range(start='2023-02-01', periods=12, freq='2BM')
print(p)

In [ ]:
p = pd.date_range(start='2023-01-03', periods=4, freq='QS')
print(p)

In [ ]:
p = pd.date_range(start='2020-01-01 08:00', periods=10, freq='H')
print(p)

In [ ]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
print(df)

In [ ]:
print(df.values)

In [ ]:
data = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]])
index_date = pd.date_range('2020-05-01', periods=4)
columns_list = ['A', 'B', 'C']
df = pd.DataFrame(data, index=index_date, columns=columns_list)
print(df)

In [ ]:
data = {'연도': [2015, 2016, 2016, 2017, 2017], '지사': ['서울', '서울', '부산', '서울', '부산'],
        '고객 수': [200, 250, 150, 300, 200]}
df = pd.DataFrame(data)
print(df)

In [ ]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([10, 20, 30, 40, 50])
print(s1 + s2)
print(s2 - s1)
print(s1 * s2)
print(s2 / s1)

In [ ]:
s3 = pd.Series([1, 2, 3, 4])
s4 = pd.Series([10, 20, 30, 40, 50])
print(s3 + s4)

In [ ]:
data1 = {'A': [1, 2, 3, 4, 5],
         'B': [10, 20, 30, 40, 50],
         'C': [100, 200, 300, 400, 500]}
df1 = pd.DataFrame(data1)
print(df1)

data2 = {'A': [6, 7, 8],
         'B': [60, 70, 80],
         'C': [600, 700, 800]}
df2 = pd.DataFrame(data2)
print(df2)
print('='*20)
print(df1 + df2)

In [ ]:
table_data3 = {'봄':  [256.5, 264.3, 215.9, 223.2, 312.8],
              '여름': [770.6, 567.5, 599.8, 387.1, 446.2],
              '가을': [363.5, 231.2, 293.1, 247.7, 381.6],
              '겨울': [139.3, 59.9, 76.9, 109.1, 108.1]}
columns_list = ['봄', '여름', '가을', '겨울']
index_list = ['2012', '2013', '2014', '2015', '2016']

df3 = pd.DataFrame(table_data3, columns = columns_list, index = index_list)
print(df3)
print('='*30)
print(df3.mean(axis=0)) # 계절별
#[5][4]
print('='*30)
print(df3.std())  # 계절별
print('='*30)

print(df3.mean(axis=1)) # 연도별
print('='*30)
print(df3.std(axis=1)) # 연도별
print('='*30)
print(df3.describe())

In [ ]:
KTX_data = {'경부선 KTX': [39060, 39896, 42005, 43621, 41702, 41266, 32427],
            '호남선 KTX': [7313, 6967, 6873, 6626, 8675, 10622, 9228],
            '경전선 KTX': [3627, 4168, 4088, 4424, 4606, 4984, 5570],
            '전라선 KTX': [309, 1771, 1954, 2244, 3146, 3945, 5766],
            '동해선 KTX': [np.nan,np.nan, np.nan, np.nan, 2395, 3786, 6667]}
col_list = ['경부선 KTX','호남선 KTX','경전선 KTX','전라선 KTX','동해선 KTX']
index_list = ['2011', '2012', '2013', '2014', '2015', '2016', '2017']

df_KTX = pd.DataFrame(KTX_data, columns = col_list, index = index_list)
print(df_KTX)

In [ ]:
df_KTX.head(2)

In [ ]:
df_KTX.tail(2)

In [ ]:
print(df_KTX[1:2])

In [ ]:
print(df_KTX[2:5])

In [ ]:
print(df_KTX.loc['2011'])

In [ ]:
print(df_KTX.loc['2013':'2016'])

In [ ]:
print(df_KTX['경부선 KTX'])

In [ ]:
print(df_KTX['경부선 KTX']['2012':'2014'])

In [ ]:
print(df_KTX['경부선 KTX'][1:4])

In [ ]:
print(df_KTX.loc['2016']['호남선 KTX'])
print('='*40)
print(df_KTX.loc['2016','호남선 KTX'])
print('='*40)
print(df_KTX['호남선 KTX']['2016'])
print('='*40)
print(df_KTX['호남선 KTX'][5])
print('='*40)
print(df_KTX['호남선 KTX'].loc['2016'])

In [ ]:
print(df_KTX.T)

In [ ]:
	print(df_KTX[['동해선 KTX', '전라선 KTX', '경전선 KTX', '호남선 KTX', '경부선 KTX']])

In [ ]:
df1 = pd.DataFrame({'Class1': [95, 92, 98, 100],
                    'Class2': [91, 93, 97, 99]})
print(df1)

In [ ]:
df2 = pd.DataFrame({'Class1': [87, 89],'Class2': [85, 90]})
print(df2)

In [ ]:
print(df1.append(df2))

In [ ]:
print(df1.append(df2,ignore_index=True))

In [ ]:
#print(df1.append(df2,ignore_index=True))
print(pd.concat([df1,df2],ignore_index=True))

In [ ]:
df3 = pd.DataFrame({'Class1': [96, 83]})
print(df3)

In [ ]:
print(pd.concat([df3,df2],ignore_index=True))

In [ ]:
df4 = pd.DataFrame({'Class3': [93, 91, 95, 98]})
print(df4)

In [ ]:
print(df1)

In [ ]:
print(df1.join(df4))

In [ ]:
df_A_B = pd.DataFrame({'판매월': ['1월', '2월', '3월', '4월'],
                       '제품A': [100, 150, 200, 130],
                       '제품B': [90, 110, 140, 170]})
print(df_A_B)

In [ ]:
df_C_D = pd.DataFrame({'판매월': ['1월', '2월', '3월', '4월'],
                       '제품C': [112, 141, 203, 134],
                       '제품D': [90, 110, 140, 170]})
print(df_C_D)

In [ ]:
print(df_A_B.merge(df_C_D))

In [ ]:
df_left = pd.DataFrame({'key':['A','B','C'], 'left': [1, 2, 3]})
print(df_left)
print('='*40)
df_right = pd.DataFrame({'key':['A','B','D'], 'right': [4, 5, 6]})
print(df_right)

In [ ]:
print(df_left.merge(df_right, how='left', on = 'key'))

In [ ]:
print(df_left.merge(df_right, how='outer', on = 'key'))

In [ ]:
print(df_left.merge(df_right, how='inner', on = 'key'))

In [ ]:
df=pd.read_csv('data/sea_rain1.csv',encoding='cp949')
print(df)

In [ ]:
df=pd.read_csv('data/sea_rain1.csv',encoding='cp949',index_col='연도')
print(df)

In [ ]:
df_WH = pd.DataFrame({'몸무게':[62, 67, 55, 74],
                      '키':[165, 177, 160, 180]},
                       index=['ID_1', 'ID_2', 'ID_3', 'ID_4'])
df_WH.index.name = '회원'
print(df_WH)

In [ ]:
df_WH['BMI']=df_WH['몸무게']/(df_WH['키']/100)**2
print(df_WH)

In [ ]:
df_WH.to_csv('data/BMI.csv')